<!--
  Generated template for the ExpensesDebtPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="disExpenses">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>สรุปรายจ่ายที่ก่อให้เกิดหนี้สิน</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

        <ion-fab right bottom>
                <button ion-fab><ion-icon name="add"></ion-icon></button>
                <ion-fab-list side="top" border no-lines [ngClass]="animateClass">
                  <button ion-button color="danger" style="width:70px; height:30px;" navPush="AddFixedExpensesMainPage"><font size="1">รายจ่ายคงที่</font></button>
                  <button ion-button color="danger" style="width:70px; height:30px;" navPush="AddDailyExpensesPage"><font size="1">รายจ่ายรายวัน</font></button>
                  <button ion-button color="secondary" style="width:70px; height:30px;" navPush="AddIncomeMainPage"><font size="1">รายรับ</font></button>

                </ion-fab-list>      
            </ion-fab>

    <!-- เลือกเดือน -->
    <div align="right">
        <label item-title text-wrap></label>
        <button  ion-button clear (click)="doMonth()"><b><font size="4">{{month_now}}</font></b>
          <ion-icon icon-small name="calendar"></ion-icon>
        </button>
    </div>

<ion-row>
    <ion-col col-12>
        <ion-list no-margin>

        <ion-list-header color="listHead"><h2><b>รายการรายจ่ายที่ก่อให้เกิดหนี้สิน</b></h2></ion-list-header>
            <ion-item border no-lines [ngClass]="animateClass" *ngFor = "let item of expensesDebtList" color = "list">
                <h2>บัตรเครดิต:</h2>
            <div item-content>
                <ion-badge class="badge-light">{{item.creditCard}} ฿</ion-badge>
            </div> 
            </ion-item>
            <ion-item  border no-lines [ngClass]="animateClass" *ngFor = "let item of expensesDebtList" color = "list">
                <h2>บัตรผ่อนสินค้า:</h2>
            <div item-content>
                <ion-badge class="badge-light">{{item.paymentCard}} ฿</ion-badge>
            </div> 
            </ion-item>
        </ion-list>
    </ion-col>
</ion-row>
  

</ion-content>
