page-login {
          
  [background-color] {

    background-color: #618cd4;
    
  }
            .input_area {
              display: flex;
              background-color: #fff;
              border-radius: 60px;
            //   height: map_get($height, btnheight);
              overflow: hidden;
            //   margin-bottom: map_get($margin, small);
              ion-icon {
                margin: auto;
                padding: 0 16px;
                color: map_get($colors, lightdark);
                // font-size: map_get($font, small);
              }

            }
    ion-card {
      box-shadow: none !important;
      border-radius: $border-radius !important;
  
    }

}



