<!--
  Generated template for the IncomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>รายรับ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

    <ion-fab right bottom>
        <button ion-fab><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top" border no-lines [ngClass]="animateClass">
          <button ion-button color="danger" style="width:70px; height:30px;" navPush="AddFixedExpensesPage"><font size="1">รายจ่ายคงที่</font></button>
          <button ion-button color="danger" style="width:70px; height:30px;" navPush="AddDailyExpensesPage"><font size="1">รายจ่ายรายวัน</font></button>
          <button ion-button color="secondary" style="width:70px; height:30px;" navPush="AddIncomeMainPage"><font size="1">รายรับ</font></button>
  
          <!-- <button  color="danger" >รายจ่ายรายวัน</button>
          <button color="secondary" >รายรับ</button> -->
          <!-- <button ion-fab><ion-icon name="remove"></ion-icon></button>
          <button ion-fab><ion-icon name="remove"></ion-icon></button>
          <button ion-fab><ion-icon name="add"></ion-icon></button> -->
        </ion-fab-list>
        
    </ion-fab>

    <ion-card>
        <ion-item *ngFor="let item of sumIncome" color="list">
            <h2>รายรับทั้งหมด:</h2>
            <div item-content>
                <ion-badge class="badge-light">{{item.totalIncome}} ฿</ion-badge>
            </div>   
        </ion-item>
    </ion-card>

  <!-- <ion-grid no-padding *ngIf="data != null"> -->
    <ion-row>
      <ion-col col-12>
          <ion-list no-margin>
                      <!-- Header Top -->
                      <ion-list-header color="listHead"><h2><b>รายการรายรับ</b></h2></ion-list-header>

                      <!-- เลือกเดือน -->
                    <div>
                      <ion-item>
                        <ion-label></ion-label>
                        <ion-select [(ngModel)]="month" multiple="false" interface="popover" >
                            <!-- <ion-option value="month" selected="true"></ion-option> -->
                            <ion-option value="1" >มกราคม</ion-option>
                            <ion-option value="2">กุมภาพันธ์</ion-option>
                            <ion-option value="3">มีนาคม</ion-option>
                        </ion-select>
                      </ion-item>
                      <button ion-button (click)="doMonth(month)"> </button>
                    </div>
                      <ion-item border no-lines [ngClass]="animateClass" *ngFor="let item of incomeList; let i = index;">
                        
                        <h2 item-title text-wrap>{{item.category}}</h2>
                        <!-- Subtitle -->
                        <p item-subtitle text-wrap>{{item.created}}</p>
                        <!-- Badge -->
                        <div item-content>
                          <ion-badge class="badge-light">{{item.amount}} ฿</ion-badge>
                        </div>

                      </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    <!-- </ion-grid> -->
</ion-content>
