// [tab-1] {}

page-income{
  .fade-in-left-item {
    -webkit-animation: fadeInRight 800ms;
    -moz-animation: fadeInRight 800ms;
    -o-animation: fadeInRight 800ms;
    animation: fadeInRight 800ms;
  }
  [ion-affix] {
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    border-top: none !important;
    color: theme-colors('textColors', 'accentDark');
  }
  // Avatar
  ion-avatar {
    filter: none;

    img {
      border-radius: $border-radius !important;
    }
  }
  // Badge
  // ion-badge {
  //   margin-top: 42px;
  // }

}

sticky-list-header-layout-1 {
    
  }