<!--
  Generated template for the MaxExpensesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>อักดับรายจ่ายสูงสุด</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-fab right bottom>
        <button ion-fab><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top" border no-lines [ngClass]="animateClass">
          <button ion-button color="disExpenses" style="width:70px; height:30px;" navPush="AddFixedExpensesMainPage"><font size="1">รายจ่ายคงที่</font></button>
          <button ion-button color="disExpenses" style="width:70px; height:30px;" navPush="AddDailyExpensesPage"><font size="1">รายจ่ายรายวัน</font></button>
          <button ion-button color="secondary" style="width:70px; height:30px;" navPush="AddIncomeMainPage"><font size="1">รายรับ</font></button>

        </ion-fab-list>    
    </ion-fab>

  <!-- <ion-list>
      <ion-item *ngFor="let item of maxExpenses">
          <h2> {{item.cateName}}</h2>
          <p> {{item.amount}} บาท &nbsp;{{item.createDate}}</p>    
           
      </ion-item>
      
  </ion-list> -->

  <!-- เลือกเดือน -->
  <div align="right">
    <label item-title text-wrap></label>
    <button  ion-button clear (click)="doMonth()"><b><font size="4">{{month_now}} {{year}}</font></b>
      <ion-icon icon-small name="calendar"></ion-icon>
    </button>
  </div>

  <ion-list>
      <!-- Header Top -->
      <ion-list-header color="listHead"><h2><b>รายการรายจ่ายสูงสุด</b></h2></ion-list-header>
      <ion-item border no-lines [ngClass]="animateClass" *ngFor="let item of maxExpenses let i = index;">
        
        <h2 item-title text-wrap>{{item.cateName}}</h2>
        <!-- Subtitle -->
        <p item-subtitle text-wrap>{{item.createDate}}</p>
        <!-- Badge -->
        <div item-content>
          <ion-badge color="disExpenses">{{item.amount*1 | number:'.2-2'}} ฿</ion-badge>
        </div>

      </ion-item>
  </ion-list>

</ion-content>
