page-daily-expenses {
    .fade-in-right-item {
        -webkit-animation: fadeInRight 800ms;
        -moz-animation: fadeInRight 800ms;
        -o-animation: fadeInRight 800ms;
        animation: fadeInRight 800ms;
    }

    [ion-affix] {
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
        border-top: none !important;
        color: theme-colors('textColors', 'accentDark');
      }
      // Avatar
      ion-avatar {
        filter: none;
    
        img {
          border-radius: $border-radius !important;
        }
      }

}
