<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar  color="primary" >
    <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
    </button>
    
</ion-navbar>
</ion-header>
<!-- Content -->
<ion-content >
  <div  background-size id="elastic-header">
    <ion-thumbnail >
      <br><br><br>
      <!-- <img [src]="data.avatar" /> -->
      <img width="100" height="100" [src]="chosenPicture || placeholder" onerror="this.src='assets/images/logo/user.png'"/>
    </ion-thumbnail>
    <!-- Parallx Title -->
    <h6 text-center parallax-title >{{name}} {{surname}}</h6>
    <!-- Parallx Subtitle -->
    <!-- <h3 text-center parallax-subtitle >{{email}}</h3> -->
    <div padding >
        <ion-segment [(ngModel)]="pet" color="indexB">
          <ion-segment-button value="personal" >
            <ion-icon name="contact"></ion-icon>
            <font size="2">ข้อมูลส่วนตัว</font>
          </ion-segment-button>
          <ion-segment-button value="duedate">
            <ion-icon name="calendar"></ion-icon>
            <font size="2">วันที่ครบกำหนดชำระ</font>
          </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="pet">
        <ion-list *ngSwitchCase="'duedate'">
        <div *ngIf="water!=0">
          <ion-item>
              <p>ครบกำหนดชำระค่าน้ำวันที่ &nbsp;&nbsp; <b>{{water}}</b>&nbsp;&nbsp; ของทุกเดือน </p>
          </ion-item>
        </div>
        <div *ngIf="electricity!=0">
          <ion-item>
              <p>ครบกำหนดชำระค่าไฟฟ้าวันที่ &nbsp;&nbsp; <b>{{electricity}}</b>&nbsp;&nbsp; ของทุกเดือน </p>
          </ion-item>
        </div>
        <div *ngIf="internet!=0">
          <ion-item>
              <p>ครบกำหนดชำระค่าอินเทอร์เน็ตวันที่ &nbsp;&nbsp; <b>{{internet}}</b>&nbsp;&nbsp; ของทุกเดือน </p>
          </ion-item>
        </div>
        <div *ngIf="telephone!=0">
          <ion-item>
              <p>ครบกำหนดชำระค่าโทรศัพท์วันที่ &nbsp;&nbsp; <b>{{telephone}}</b>&nbsp;&nbsp; ของทุกเดือน </p>
          </ion-item>
        </div>
          <ion-item *ngIf="telephone!=''">
            <p>ครบกำหนดชำระค่าบัตรเครดิต &nbsp;<b>{{credit1}}</b>&nbsp;ของวันที่ &nbsp;<b>{{credit_card}}</b>&nbsp;&nbsp; ของทุกเดือน </p>
          </ion-item>
          <div >
            <ion-segment [(ngModel)]="pet" >
                <ion-segment-button value="editduedate" >
                  <ion-icon name="create"></ion-icon>
                  <font size="4" >แก้ไข</font>
                </ion-segment-button>
            </ion-segment>
          </div>
        </ion-list>
          
          <ion-list *ngSwitchCase="'personal'">
              
            <ion-item>
              <p><b>ชื่อ - นามสกุล:</b> {{name}} {{surname}} </p>
             </ion-item>
             <ion-item>
              <P><b>Email:</b> {{email}}</P>
              </ion-item>
              <ion-item>
                <P><b>เพศ:</b> {{sex}}</P>
              </ion-item>
              <ion-item>
                <P><b>อายุ:</b> {{age}}</P>
              </ion-item>
              <ion-item>
                <P><b>อาชีพ:</b> {{career}}</P>
              </ion-item>
              <ion-item>
                  <div >
                    <ion-segment [(ngModel)]="pet" >
                        <ion-segment-button value="editpersonal" >
                          <ion-icon name="create"></ion-icon>
                          <font size="4" >แก้ไข</font>
                        </ion-segment-button>
                    </ion-segment>
                  </div>
                </ion-item>
          </ion-list>
      </div>
      <div [ngSwitch]="pet" color="indexB">
          <ion-list *ngSwitchCase="'editpersonal'">
            <ion-item>
              <p><b>ชื่อ - นามสกุล:</b> {{name}} {{surname}} </p>
             </ion-item>
             <ion-item>
              <P><b>Email:</b> {{email}}</P>
              </ion-item>
              <ion-item>
                <P><b>เพศ:</b> {{sex}}</P>
              </ion-item>
              <ion-item>
                <P><b>อายุ:</b> {{age}}</P>
              </ion-item>
              <ion-item>
                <P><b>อาชีพ:</b> {{career}}</P>
              </ion-item>
              
          
        </ion-list>
            
      </div>
      <div [ngSwitch]="pet" color="indexB">
        <ion-list *ngSwitchCase="'editduedate'">
            <ion-item *ngFor="let item of duedate">
              <p>ครบกำหนดชำระค่าน้ำวันที่ &nbsp;&nbsp; <b>{{item.water}}</b>&nbsp;&nbsp; ของทุกเดือน </p>
            </ion-item>
            <ion-item *ngFor="let item of duedate">
              <p>ครบกำหนดชำระค่าไฟฟ้าวันที่ &nbsp;&nbsp; <b>{{item.electricity}}</b>&nbsp;&nbsp; ของทุกเดือน </p>
            </ion-item>
            <ion-item *ngFor="let item of duedate">
              <p>ครบกำหนดชำระค่าอินเทอร์เน็ตวันที่ &nbsp;&nbsp; <b>{{item.internet}}</b>&nbsp;&nbsp; ของทุกเดือน </p>
            </ion-item>
            <ion-item *ngFor="let item of duedate">
              <p>ครบกำหนดชำระค่าโทรศัพท์วันที่ &nbsp;&nbsp; <b>{{item.telephone}}</b>&nbsp;&nbsp; ของทุกเดือน </p>
            </ion-item>
          <ion-item *ngFor="let item of duedate">
          <p>ครบกำหนดชำระค่าบัตรเครดิต &nbsp;<b>{{item.credit}}</b>&nbsp;ของวันที่ &nbsp;<b>{{item.credit_card}}</b>&nbsp;&nbsp; ของทุกเดือน </p>
        </ion-item>
      </ion-list>
      </div>

      

  </div>

  
</ion-content>
