<!--
  Generated template for the AddFixedExpensesMainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
  <ion-title>จัดการงบการเงินส่วนบุคคล</ion-title>
</ion-navbar>

</ion-header>


<ion-content background-color>
  <form [formGroup]="fixedExpenses" (ngSubmit)="editFixedExpenses(fixedExpenses)">
        <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
                <ion-card text-left [ngClass]="animateClass">
                    <ion-card >
                        <ion-item color="disExpenses">
                                แก้ไขรายจ่ายคงที่
                            <!-- <i [ngClass]="iconClass">face</i> -->
                            
                        </ion-item>
                    </ion-card>  
                <div border no-lines [ngClass]="animateClass">
  
  
          <ion-input type="hidden" formControlName="user_id"></ion-input>
  
          <ion-item>
              <!-- <ion-label floating></ion-label> -->
              <ion-label floating ><i class="material-icons">layers</i>&nbsp;&nbsp;&nbsp; หมวดหมู่</ion-label>
              <ion-select formControlName="fix_expenses_cate_id" multiple="false" interface="popover" >
                  <ion-option *ngFor="let item of fixedExpensesCate" [value]="item.id">{{item.name}}</ion-option>
              </ion-select>
          </ion-item>
          <ion-item>
              <!-- <ion-label floating></ion-label> -->
              <ion-label floating ><i class="material-icons">payment</i>&nbsp;&nbsp;&nbsp; จ่ายผ่าน</ion-label>
              <ion-select formControlName="payment_channel_id" multiple="false" interface="popover" >
                  <ion-option *ngFor="let item of paymentCate" [value]="item.id">{{item.name}}</ion-option>
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-label floating ><i class="material-icons">account_balance_wallet</i>&nbsp;&nbsp;&nbsp; จำนวนเงิน</ion-label>
            <ion-input type="number" formControlName="amount"></ion-input>
          </ion-item>
          <ion-item>
                  <ion-label floating ><i class="material-icons">date_range</i>&nbsp;&nbsp;&nbsp; วัน/เดือน/ปีวัน/เดือน/ปี</ion-label>
                  <ion-datetime displayFormat="D/MM/YYYY" pickerFormat="D MM YYYY" formControlName="created"></ion-datetime>
          </ion-item>

          <!-- <ion-button (click)="upload()" ion-button >รูปภาพ</ion-button> -->
              <!-- <img name="images"   style="width:60px; height:60px;"/> -->


      </div>
    </ion-card>
      
      <div no-lines [ngClass]="animateClass" padding>
        <button ion-button default-button full text-capitalize [disabled]="!fixedExpenses.valid">บันทึก</button>
        <!-- <button ion-button default-button full text-capitalize color="disExpenses" navPush="HomePage">ถัดไป</button> -->
        <!-- <button ion-button full navPush="">ยกเลิก</button> -->
      </div>
      </ion-col>
  </form>

</ion-content>
