
<ion-menu [content]="content">
  <!-- <ion-header >
    <ion-toolbar color="primary">
      <ion-title >เมนู</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-header>
      <div header-background-image padding >
          <h2 ion-text color="light" header-title> <ion-icon item-left name="contact"></ion-icon>{{email}}</h2>
          <p></p>
      </div>
  </ion-header>

  <ion-content>
    
    <!-- <ion-item color="user">
      <div #header>
          <ion-row style="align-items:center;">
            <ion-col col-3> -->
              <!-- <img src="assets/icon/icon-email.svg" /> -->
              <!-- <span class="icon-badge"></span>
            </ion-col>
            <ion-col col-6>
              <img class="" [src]="chosenPicture || placeholder" onerror="this.src='assets/img/avatar/not.jpg'"
              />
            </ion-col>
            <ion-col col-3> -->
              <!-- <img src="assets/icon/icon-calendar.svg" /> -->
            <!-- </ion-col>
          </ion-row>
          <ion-row style="justify-content: center;">
            <h3>{{email}}</h3>
          </ion-row>
        </div>
      </ion-item> -->
    <ion-list *ngIf="user_id">
        
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon icon-small name="list-box"></ion-icon>
              <!-- <i class="icon {{p.icon}}"></i> -->
            
        {{p.title}}
      </button>

      <button menuClose ion-item (click)="setting()">
        <ion-icon icon-small name="settings"></ion-icon> 
      ตั้งค่า
      </button>

      <button menuClose ion-item (click)="logOut1()">
          <ion-icon icon-small name="exit"></ion-icon> 
        ออกจากระบบ
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>