page-dispensable-expenses {

    .fade-in-right-item {
        -webkit-animation: fadeInRight 800ms;
        -moz-animation: fadeInRight 800ms;
        -o-animation: fadeInRight 800ms;
        animation: fadeInRight 800ms;
    }

    [ion-affix] {
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
        border-top: none !important;
        color: theme-colors('textColors', 'accentDark');
      }
      // Avatar
      ion-avatar {
        filter: none;
    
        img {
          border-radius: $border-radius !important;
        }
      }
      .fab {
        contain: layout;
    }
    button[ion-fab] {
      overflow: visible;
      position: relative;
  
      ion-label {
          position: absolute;
          top: -9px;
          right: 40px;
  
          color: white;
          background-color:rgb(114, 114, 114);
          line-height: 21px;
          padding: 4px 8px;
          border-radius: 4px;
      }
  }

}
