<!--
  Generated template for the ShowRisk1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>ตรวจสุขภาพทางการเงินเร่งด่วน</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <ion-card>
    <ion-card>
      <ion-item color="listHead">
        <b>ผลการคำนวณ</b>
      </ion-item>
    </ion-card>
    
      <ion-card-content *ngFor = "let item of risk">
        <p>สุขภาพทางการเงินของคุณอยู่ในระดับ<b>{{item.name}}</b></p>
      </ion-card-content>
      <ion-card-content>
        <p> มีอัตราส่วนหนี้สินต่อรายได้ = <b>{{DTI | number:'.1-2'}} % </b></p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card>
      <ion-item color="listHead">
        <b>คำแนะนำ</b>
      </ion-item>
    </ion-card>

    <ion-card-content *ngFor = "let item of risk">
      <p>{{item.direction}}</p>
    </ion-card-content>
        
  </ion-card> -->

  <ion-row background-color>
      <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
        <ion-card text-left>

          <div card-image>
              <img class="" height="170" [src]="chosenPicture || placeholder" onerror="this.src='assets/images/background/119.jpg'"/>
          </div>

          <ion-card-content *ngFor = "let item of risk">
            <ion-card-title>
              <h2 card-title>ผลการคำนวณ</h2>
              <h1 card-subtitle>สุขภาพทางการเงินอยู่ในระดับ <b><font color="#000000">{{item.name}}</font></b><br>
              <br>มีอัตราส่วนหนี้สินต่อรายได้ = <ion-badge class="badge-light">{{DTI | number:'.1-2'}} %</ion-badge></h1>
              <p card-body-text>{{item.direction}}</p>
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      

    <div padding>
    <button ion-button default-button full text-capitalize navPush="FhcInstantPage">คำนวณอีกครั้ง</button>
    <button ion-button default-button full text-capitalize navPush="IndexPage">กลับ</button>
    </div>
  </ion-col>
  </ion-row>
</ion-content>
