page-add-fixed-expenses {
  .fade-in-item {
    -webkit-animation: fadeInDownBig 800ms;
    -moz-animation: fadeInDownBig 800ms;
    -o-animation: fadeInDownBig 800ms;
    animation: fadeInDownBig 800ms;
  }
  .fade-in-item2 {
    -webkit-animation: fadeInRight 800ms;
    -moz-animation: fadeInRight 800ms;
    -o-animation: fadeInRight 800ms;
    animation: fadeInRight 800ms;
  }
      [ion-affix] {
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
        border-top: none !important;
        color: theme-colors('textColors', 'accentDark');
      }
      // Avatar
      ion-avatar {
        filter: none;
    
        img {
          border-radius: $border-radius !important;
        }
      }
      [background-color] {
        background-color: #f7f7f7;
      }
      // Settings Card
      ion-card {
        box-shadow: none !important;
        border-radius: $border-radius !important;
    
      }
      [card-color] {
        background-color: #f6f7f8;
      }
      // Settings Card
      ion-card {
        box-shadow: none !important;
        border-radius: $border-radius !important;
    
      }
      .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
      
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
      
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
      
        /* Support for IE. */
        font-feature-settings: 'liga';
      }

}
