page-add-income-main {
    .fade-in-item {
        -webkit-animation: fadeInDownBig 800ms;
        -moz-animation: fadeInDownBig 800ms;
        -o-animation: fadeInDownBig 800ms;
        animation: fadeInDownBig 800ms;
      }

      .fade-in-item2 {
        -webkit-animation: fadeInRight 800ms;
        -moz-animation: fadeInRight 800ms;
        -o-animation: fadeInRight 800ms;
        animation: fadeInRight 800ms;
      }
      
      [background-color] {
        background-color: #f7f7f7;
      }
      // Settings Card
      ion-card {
        box-shadow: none !important;
        border-radius: $border-radius !important;
    
      }
      [card-color] {
        background-color: #f6f7f8;
      }
      // Settings Card
      ion-card {
        box-shadow: none !important;
        border-radius: $border-radius !important;
    
      }

}
